.login-wrapper {
    margin: 20rem auto;
    width: 20rem;
}

input {
    margin-bottom: 2rem;
}

button {
    margin-bottom: 2rem;
}



.input{
    width: 100%;
padding: 12px 20px;
margin: 8px 0;
box-sizing: border-box;
border-radius: 1px;
}



.submit{
    margin-bottom: 2rem;
background-color: #026ad9;
width: 61%;
font-size: 186%;
position: relative;
left: 46px;
margin-top: 17px;
color: white;
}